@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlyDeveloped.Core.ViewModel.AccountViewModel>
@using HighlyDeveloped.Core.Controllers

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>My Account</h2>

            @if (TempData["status"] != null)
            {
                if ((string)TempData["status"] == "Updated Details")
                {
                    <!-- If this is a post back -- sucess show a message-->
                    <p>Your details have been updated.</p>
                }
                else
                {
                    <p>Thanks for changing your password</p>
                }

            }
            else
            {
                @Html.ValidationSummary()
                <!-- Otherwise, Show the form-->
                using (Html.BeginUmbracoForm<AccountController>("HandleUpdateDetails"))
                {
                    <h2 class="h3"> Fill in the details below to register: </h2>
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "text" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                    <button type="submit" value="Update Details" class="btn btn-primary" name="update-button">Update</button>
                }
                <!-- Password Form-->
                using (Html.BeginUmbracoForm<AccountController>("HandlePasswordChange"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @type = "password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <button type="submit" value="Change Password Details" class="btn btn-primary" name="password-button">Change Password</button>
                }

            }
        </div>
    </div>
</div>
