@inherits Umbraco.Web.Mvc.UmbracoViewPage<HighlyDeveloped.Core.ViewModel.ResetPasswordViewModel>
@using HighlyDeveloped.Core.Controllers

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<!-- Have we posted? Is it success? -->
<!-- Display thanks -->
@if (TempData["status"] != null && (string)TempData["status"] == "OK")
{
    <h3>Password changed, please login with your new password</h3>
    <a href="/Login/">Go to Login</a>
}
else
{
    <!-- Otherwise -->
    <!-- Show the form -->
    <div class="container">
        <div class="row">
            <div class="col">
                @using (Html.BeginUmbracoForm<LoginController>("HandleResetPassword"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <fieldset>
                        <legend>Reset your password</legend>
                        <p>
                            Enter a new password followed by the same password. Your password must be at least 10
                            characters and contain 1 number and 1 special character.
                        </p>
                        <div class="form-group">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.Password)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                @Html.LabelFor(m => m.ComfirmPassword)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(m => m.ComfirmPassword)
                                @Html.ValidationMessageFor(m => m.ComfirmPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary">Change password</button>
                        </div>
                    </fieldset>

                }
            </div>
        </div>
    </div>

}
